body {
  height: 100vh;
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50 0;
}

.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.container .heroes .hero {
  background-color: transparent;
  perspective: 1500px;
}

.container .heroes .hero:hover .hero-inner {
  transform: rotateY(180deg);
}

.container .heroes .hero .hero-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.container .heroes .hero-inner .hero-front {
  width: 300px;
  height: 480px;
  margin: 15px;
  position: relative;
}

.container .heroes .hero .hero-inner .hero-front .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
}

.container .heroes .hero .hero-inner .hero-front .image:hover {
  cursor: pointer;
  width: 110%;
  height: 120%;
  opacity: 1;
}

.hero-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .heroes .hero:nth-child(1) .image {
  background-image: url("./images/hero-1.png");
}
.container .heroes .hero:nth-child(2) .image {
  background-image: url("./images/hero-2.png");
}
.container .heroes .hero:nth-child(3) .image {
  background-image: url("./images/hero-3.png");
}
.container .heroes .hero:nth-child(4) .image {
  background-image: url("./images/hero-4.png");
}
.container .heroes .hero:nth-child(5) .image {
  background-image: url("./images/hero-5.png");
}
.container .heroes .hero:nth-child(6) .image {
  background-image: url("./images/hero-6.png");
}
.container .heroes .hero:nth-child(7) .image {
  background-image: url("./images/hero-7.png");
}
.container .heroes .hero:nth-child(8) .image {
  background-image: url("./images/hero-8.png");
}
.container .heroes .hero:nth-child(9) .image {
  background-image: url("./images/hero-9.png");
}
.container .heroes .hero:nth-child(10) .image {
  background-image: url("./images/hero-10.png");
}
.container .heroes .hero:nth-child(11) .image {
  background-image: url("./images/hero-11.png");
}
